#service {
    max-width: 500px;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin: 0;
    color: black;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 16px; 
}


label[for="date"],
label[for="time"],
label[for="location"],
label[for="vehicle_registration"],
label[for="current_mileage"],
label[for="message"] {
    font-weight: bold;
    color: black;
}

label[for="date"]:after,
label[for="time"]:after,
label[for="location"]:after,
label[for="vehicle_registration"]:after,
label[for="current_mileage"]:after {
    content: " *"; /*required labels */
    color: #ff3333;  
}


input,
select,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #3498db;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #297fb8;
    transform: scale(1.05);
}

#date-error {
    font-size: 14px;
    color: #ff3333;
    margin-top: 10px;
}
.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

